{% extends "base.html" %}
{% block title %}Multi User Blog{% endblock%}
{% block content %}
	<nav class="navbar navbar-inverse" class = "titlebar">
	<a class="navbar-brand" href="/blog">Home</a>
	<a class="navbar-brand" href="/blog/newpost">Newpost</a>
	<a class="navbar-brand" href="/blog/login">Login</a>
	<a class="navbar-brand" href="/blog/signup">Signup</a>
	</nav>
	<h1 class="main-title"><b>Multi User Blog</b></h1>
	<div>
	{%for i in database%}
	<hr class="hr1">
		<a href="/blog/post/{{i.key().id()}}"><div class="art">
			<div class="art-heading">
				<div class="art-title"><h3>By {{i.author}}</h3></div>
				<div class="art-title"><h4>Title: {{i.title}}</h4></div>
				<div class="art-date">{{i.created.strftime("%b %d, %Y")}}</div>
			</div>
			<pre class="art-body">Post:<br> {{i.post}}</pre>
		</div></a>
	{%endfor%}
	</div>
{% endblock %}