{% extends "base.html" %}
{% block title %}{{username}}{% endblock%}
{% block content %}
	<nav class="navbar navbar-inverse">
	<a class="navbar-brand" href="/blog">Home</a>
	<a class="navbar-brand" href="/blog/newpost">Newpost</a>
	<a class="navbar-brand" href="/blog/logout">Logout</a>
	</nav>
	<br>
	<h1 class="main-title">Welcome {{username}}</h1>
	<br><br>
	{%for i in p%}
		<a href = "/blog/post/{{i.key().id()}}">
		<div class="art">
			<div class="art-heading">
				<div class="art-title"><h4>Title: {{i.title}}</h4></div>
				<div class="art-date">{{i.created.strftime("%b %d, %Y")}}</div>
			</div>
			<pre class="art-body">Post:<br> {{i.post}}</pre>
		</div></a>
		<hr class="hr2">
	{%endfor%}
{% endblock %}